body {
    background-color: var(--night);
    background-image: none;
}

.mainContainer {
    background-image: none;
    background-color: var(--umbra);
}

.innerContainer {
    background-image: none;
}