
.paper{
    background-color: #FFE7DB;
    background-image: url(../adventure-log/images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.colContainer {
    overflow: hidden
}
.center {
    margin: auto;
    display: block;
}

.flexBox > div {
    background-color: var(--shade);
    color: var(--moonlight);
    font-family: inclusive;
}

.contentBox {
    align-content: stretch;
}

.logContainer
{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.active,
.collapsible:hover {
    background-color: var(--soft-blue);
}

.content {
   
    color: var(--night);
    /* overflow: hidden; */
}

/* sub-pages */

.scrapbook {
    width: 80%;
    margin: auto;
}

.scrapbookGrid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    gap: .3rem;
    align-items: center;
    border: 1px solid blue;
}


.scrapbookGrid > div {
    width: 100%;
    
}