/* Display */
@font-face {
    font-family: gemini;
    src: url(/fonts/display/Gemini-Regular.woff);
}
@font-face {
    font-family: zelda;
    src: url(/fonts/display/breathOfZelda.otf);
}

@font-face {
    font-family: gothic-pixels;
    src: url(../fonts/display/gothicPixels.ttf);
}

@font-face {
    font-family: motorola;
    src: url(/fonts/display/motorolaScreentype.ttf);
}

@font-face {
    font-family: rainy-hearts;
    src: url(/fonts/display/rainyHearts.ttf);
}

@font-face {
    font-family: retro-gaming;
    src: url(/fonts/display/retroGaming.ttf);
}

@font-face {
    font-family: kulture;
    src: url(/fonts/display/kulture.otf);
}

@font-face {
    font-family: saint;
    src: url(/fonts/display/saint.ttf);
}

@font-face {
    font-family: heal-web;
    src: url(/fonts/display/HealTheWebB-Regular.otf);
}

/* Monospace */

@font-face {
    font-family: FantasqueSans;
    src: url(/fonts/mono/FantasqueSansMono-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FantasqueSans;
    src: url(/fonts/mono/FantasqueSansMono-Italic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: FantasqueSans;
    src: url(/fonts/mono/FantasqueSansMono-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: FantasqueSans;
    src: url(/fonts/mono/FantasqueSansMono-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: CartoSans;
    src: url(/fonts/mono/cartographSans-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CartoSans;
    src: url(/fonts/mono/cartographSans-light.ttf);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: CartoSans;
    src: url(/fonts/mono/cartographSans-lightItalic.ttf);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: CartoSans;
    src: url(/fonts/mono/cartographSans-bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: fairfax;
    src: url(/fonts/mono/FairfaxHaxHD.ttf);
}

/* Sans Serif */

@font-face {
    font-family: switzer;
    src: url(/fonts/sans/Switzer-Light.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: switzer;
    src: url(/fonts/sans/Switzer-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: switzer;
    src: url(/fonts/sans/Switzer-Light.woff);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: switzer;
    src: url(/fonts/sans/Switzer-Italic.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: switzer;
    src: url(/fonts/sans/Switzer-Medium.woff);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: switzer;
    src: url(/fonts/sans/Switzer-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: jua;
    src: url(/fonts/sans/Jua-Regular.ttf);
}

@font-face {
    font-family: dosis;
    src: url(/fonts/sans/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: miso;
    src: url();
}

@font-face {
    font-family: liga;
    src: url(/fonts/sans/LigaSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: inclusive;
    src: url(/fonts/sans/InclusiveSans-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: inclusive;
    src: url(/fonts/sans/InclusiveSans-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: inclusive;
    src: url(/fonts/sans/InclusiveSans-Light.woff2);
    font-weight: 100;
    font-style: normal;
}


/* Serif */

@font-face {
    font-family: boska;
    src: url(/fonts/serif/Boska-Light.woff);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: boska;
    src: url(/fonts/serif/Boska-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: boska;
    src: url(/fonts/serif/Boska-Medium.woff);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: boska;
    src: url(/fonts/serif/Boska-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: boska;
    src: url(/fonts/serif/Boska-Italic.woff);
    font-weight: normal;
    font-style: italic;
}
















