.mainContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.gameHeader {
    background-color: var(--night);
    padding: 12px;
    border-radius: 4px;
    border-bottom: 1px solid var(--twilight);
    box-sizing: border-box;
}

.gameHeader h1 {
    font-family: motorola;
    text-align: right;
    font-size: 32px;
    color: var(--moonlight);
}

.lowerContainer {
    background-image: none;
    border: none;
    box-shadow: none;
    gap: 24px;
    font-family: fairfax;
    max-width: 900px;
}

.leftMenu {
    height: fit-content;
    border: none;
}

.info {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px ridge rgb(26, 15, 36);
    box-shadow: 1px 1px black;
    background-color: var(--umbra);
    color: var(--moonlight);
}

.info img {
    width: 200px;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px black solid;
}

.title {
    margin-top: 4px;
    font-family: motorola;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.date {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.review {
    margin: auto;
    max-width: 180px;
    font-size: 14px;
    text-align: justify;
}

.navi {
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
    padding-bottom: 16px;
    border-top: 1px dotted var(--gris);
    border-bottom: 1px dotted var(--gris);
}

.navi div {
    margin: auto;
    color: var(--moonlight);
    text-align: left;
    max-width: 180px;
}

.navi h2, h3, h4 {
    color: var(--moonlight);
    font-family: motorola;
    text-align: center;
}

.rightContent {
    padding: 8px;
}

.rightContent p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
}

.rightContent h2 {
    text-decoration: underline;
    line-height: 12px;
    font-family: motorola;
    letter-spacing: 2px;
    font-size: 22px;
}

.rightContent h3 {
    line-height: 0px;
    margin-bottom: 0;
}

.rightContent h4 {
    text-align: left;
}

.ranking {
    margin-top: 12px;
}

.gameGallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.gameGallery img {
    width: 100%;
    border-radius: 2px;
    border: 1px inset var(--soft-blue);
}

.divider {
    margin: 12px 0px;
    padding-bottom: 6px;
    border-bottom: 1px dotted var(--gris);
    text-align: center;
}

.bigDivider {
    margin: 12px 0px;
    padding-bottom: 6px;
    border-bottom: 2px solid var(--twilight);
    text-align: center;
}

.frame img {
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    width: 150px;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px black solid;
}

/* debug */
