:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
    --night: #16191d;
}

/*  */

body {
    background-image: none;
    background-color: var(--night);
    font-family: switzer-reg;
}

h1 {
    font-family: retro gaming;
}

/*  */
.switchContainer {
    max-height: 700px;
    max-width: 1500px;
    margin: auto;
    padding: 8px;


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.headerGame {
    color: var(--moonlight);
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 48px;
}

.headerGame>div {}

.battery {
    color: transparent;
    background-color: var(--gris);
    border-radius: 2px;
    outline: 2px solid rgba(255, 255, 255, 0.534);
    outline-offset: 3px;
    margin-left: 8px;
}

.gameScrollContainer {
    margin: auto;
    width: 100%;
}

.gameScroll {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    overflow-y: auto;

}

.gameScroll img {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.315);
    border-radius: 4px;
    border: 1px solid transparent;
}

.gameScroll img:hover {
    border: 1px solid var(--moonlight);
}

.lowerMenuContainer {
    margin: 36px;
    width: 100%;
}

.lowerMenu {
    display: flex;
    gap: 36px;
    align-content: center;
    justify-content: space-around;
}

.lowerMenu div {
    background-color: var(--umbra);
    padding: 4px 12px;
    border-radius: 4px;
    font-family: fantasquesans;
}

.pageBottom {
    margin-top: 48px;
    border-bottom: 1px solid var(--gris);
}