h1 {
    font-family: motorola;
    text-align: right;
    font-size: 32px;
    color: var(--moonlight);
}


.mainContainer {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0px;
}

.gameHeader {
    background-color: var(--night);
    margin: 12px;
    border-bottom: 1px solid var(--twilight);
    box-sizing: border-box;
}


.lowerContainer {
    background-image: none;
    border: none;
    box-shadow: none;
    gap: 12px;
    font-family: fairfax;
    max-width: 900px;
}

.leftMenu {
    height: fit-content;
    border: none;
}

.info {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px ridge var(--twilight);
    box-shadow: 1px 1px black;
    background-color: var(--umbra);
    color: var(--moonlight);
}

.info img {
    width: 200px;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px black solid;
}

.title {
    margin-top: 4px;
    font-family: motorola;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    
}

.details {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 8px;
    padding: 4px 4px;
    background-color: var(--night);
    border-radius: 2px;
    border-top: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);
}
#rating img {
    width: 50%;
    border: none;
}
.review {
    margin: 8px auto;
    max-width: 180px;
    font-size: 16px;
    text-align: justify;
}

.navi {
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto; 
}

.navi div {
    margin: 4px auto;
    padding: 4px;
    color: var(--moonlight);
    text-align: center;
    max-width: 180px;
    background-color: var(--midnight);
    border-radius: 4px;
}

.navi h2, h3, h4 {
    color: var(--moonlight);
    font-family: motorola;
    text-align: center;
    margin: 16px;
}

.rightContent {
    margin-top: 8px;
    padding: 18px;
    overflow-y: auto;
    max-height: 700px;
    scroll-behavior: smooth;
    border-radius: 4px;
    border: 1px ridge var(--twilight);
    box-sizing: border-box;
}

.rightContent p {
    font-size: 15px;
    line-height: 14px;
    margin-bottom: 2px;
    font-family: fairfax;
}

.rightContent h2 {
    text-decoration: underline;
    line-height: 12px;
    font-family: motorola;
    letter-spacing: 1px;
    font-size: 22px;
}

.rightContent h3 {
    line-height: 0px;
    margin-bottom: 0;
}

.rightContent h4 {
    text-align: left;
}

.ranking {
    margin-top: 12px;
}

.gameGallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.gameGallery img {
    width: 100%;
    border-radius: 2px;
    border: 1px inset var(--baby-blue);
}

.divider {
    margin: 12px 0px;
    padding-bottom: 6px;
    border-bottom: 1px dotted var(--gris);
    text-align: center;
}

.bigDivider {
    margin: 12px 0px;
    padding-bottom: 6px;
    border-bottom: 2px solid var(--twilight);
    text-align: center;
}

.frame img {
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    width: 150px;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px black solid;
}

.collapsible {
    width: 100%;
    padding: 2px;
    background-color: white;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px dotted var(--midnight);
    box-sizing: border-box;
    font-family: fairfax;
    font-size: 16px;
    text-align: center;

}

.active,
.collapsible:hover {
    background-color: var(--soft-blue);
}

.content {
    display: none;
    /* overflow: hidden; */
}

#resources {
    text-align: left;
    font-family: fairfax;
}

#resources h3 {
    margin: 36px 28px;
}

#resources h5 {
    font-size: 14px;
    margin-bottom: -4px;
}

#resources ul {
    padding-left: 12px;   
}

#resources li {
    border-left: 1px solid var(--soft-blue);
    list-style-type: none;
    padding-left: 8px;
}

#spoiler {
    color: black;
    background-color: black;
    padding: 2px;
}

#spoiler:hover {
    color: var(--moonlight);
    background-color: var(--night);
}