:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
    --night: #16191d;
}

/*  */