:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;

    --night: #11131B;
    --terminal: #90f2ff;
    --alert: #1e7bc7;
    --void: #010104;
    --old-pc: #c9dad9;
}

body {
    font-family: fairfax;
    letter-spacing: 1px;
}

.outerflex {
    margin: auto;
    padding: 8px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: fit-content;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    
    border-radius: 4px;
    border: 2px var(--twilight) ridge;

    background-color: #16191d;
    box-shadow: 4px 4px #000511a4;
}

.window {
    margin: auto;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color:var(--night);
    box-shadow: 4px 4px #000511a4;
    border: 2px ridge var(--alert);
}

.innerWindow {
    border-left: 1px inset #7f879670;
    border-right: 1px solid #7f879670;
    border-radius: 4px;
}

.control {
    background-color: var(--night);
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0px 0px;
    /* border-left: 1px inset #7f879670;
    border-right: 1px solid #7f879670; */
}

.circle {
    background-color: var(--starlight);
    border-radius: 100px;
    border: 1px solid #262e3b;
    width: 12px;
    height: 12px;
    position: fixed;
    margin: 0px 0px 0px 360px;
    
}

.control > div {
    color: white;
    margin: 6px 8px 6px 6px ;
    font-size: 12px;
    text-align: left;
    
}

.tab {
    display: flex;
    width: 100%;
    background-color: #16191d;
    border-bottom: 1px inset #7f87962c;
}

.tab > div {
    padding: 8px 12px 4px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #ab71e2;
    background-color: #161a1d;

    border-right: 1px dotted #7f87964b;
    border-left: 1px inset #7f879670;
}

.tab a {
    color: var(--gris);
    font-family: fairfax;
    font-size: 12px;
    margin: 4px 8px;
    text-decoration: none;
}

.tab a:hover {
    text-decoration: underline;
}

.logbookBody {
    margin: auto;
    padding: 8px; 
    
    width: 500px;
    height: 300px;

    align-items: center;
    border-left: 1px inset #7f879670;
    border-right: 1px solid #7f879670;
    border-bottom: 1px inset #7f879670;

    color: var(--moonlight);
    overflow-y: scroll;
} 

.windowBody {
    margin: auto;
    padding: 8px;
    width: 500px;
    border-bottom: 1px inset #7f879670;

    color: var(--moonlight);
}


.tab>div {
    padding: 8px 12px 4px 12px;
    font-size: 13px;
    font-weight: bold;
    color: var(--terminal);
    background-color: #161a1d;

    border-right: 1px dotted #7f87964b;
    border-left: 1px inset #7f879670;
}

.windowBody p {
    font-size: 12px;
    margin: 0;
}
.windowBody b {
    color: var(--terminal);
}

