:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
}

h1 {
    color: var(--moonlight);
    line-height: 0px;
}

p {
    line-height: 0px;
    font-family: fantasquesans;
    text-align: center;
    color: var(--moonlight);
}

.outerflex {
    margin: auto;
    padding: 8px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: fit-content;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    
    border-radius: 4px;
    border: 2px var(--twilight) ridge;

    background-color: #16191d;
    box-shadow: 4px 4px #000511a4;
}


div.scroll-container {
    /* background-color: var(--umbra); */
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    max-width: 400px;
    max-height: 240px;
    margin: 8px;
  }
  
div.scroll-container img {
    width: 80%;
    border-radius: 4px;;
  }

div.scroll-container img:hover {
    border: 1px solid var(--gris);
}

  .imgSel {
    width: 80%;
    border: 1px solid var(--sunset);
  }

  .outerflex > .tab {
    background-color: #16191d;
    margin: auto;
    width: 95%;
    font-family: rainy hearts;
    font-size: 24px;
    padding: 4px 0px 8px 0px;
  }


.tab > div {
    padding: 6px;
    margin: auto;
    font-weight: bold;
    color: #D7BBF1;
    background-color: #111416;

    border-bottom: 1px solid #7f87962d;
}

a {
    font-size: 12px;
    color: #cdd9ee93;
    font-family: fantasquesans;
    text-decoration: none;
    
}

a:hover{
    font-size: 12px;
    color: #cdd9eeec;
    font-family: fantasquesans;
    text-decoration: underline;
    
}

.musicBody {
    margin: auto;
    padding: 8px; 
    
    width: 400px;
    height: 200px;

    align-items: center;
    border-left: 1px inset #7f879670;
    border-right: 1px solid #7f879670;
    border-bottom: 1px inset #7f879670;

    color: var(--moonlight);
    overflow-y: scroll;

    font-family: fantasquesans;
} 

table.musicBody  {
    width: 380px;
    border: 0px;
    padding: 1px;
}

table.musicBody td {

    font-size: 14px;
    line-height: 16px;
    padding: 6px;
    font-weight: normal;
    border-bottom: 1px inset #7f87963f;
   }

table.musicBody tr:hover {
    background-color: #162f406c;
  }

table.musicBody td a {
    display: inline;
    color: var(--moonlight);
    text-decoration: none;
}

table.musicBody td a:hover {
    text-decoration: underline;
}