:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
}

body {
    background-image: none;
    background-color: var(--umbra);
    font-family: fairfax;
}

body#inner {
   background-color: var(--night);
}

h1 {
    color: var(--moonlight);
    line-height: 0px;
}

p {
    line-height: 0px;
    color: var(--moonlight);
}

a {
    font-size: 16px;
    color: #cdd9ee93;
    text-decoration: none;

}

a:hover {
    font-size: 17px;
    color: #cdd9eeec;
    text-decoration: underline;
}

/* layout */

.wrapper {
    
}

.header {
    box-shadow: none;
    border: 0px;
}

.contentFlex {
    gap: 2px;
    background-color: var(--night);
}

.contentFlex>div {
    border-radius: 0px;
    border: 0px;
}

/* playlist explorer */

table.playlistExplorer {
  text-align: left;
  min-width: 160px;
  color: var(--moonlight);
  margin: auto;
}

table.playlistExplorer tr {

}

table.playlistExplorer td {
    padding: 6px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px dotted var(--gris);
    
}

table.playlistExplorer th {
    font-family: fairfax;
    font-size: 14px;
    border-bottom: 1px dotted var(--gris);
    padding: 12px;
}

/* album grid */
.playlistContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--moonlight);
}

.rightContent {
    width: 100%;
    padding: 0;
}

#playlistTitle{
    font-size: 24px;
    padding: 8px 2px;
}

.albumGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
}


@media (max-width: 420px) {
    .header {
        align-items: center;
    }
    
    .albumGrid {
        grid-template-columns: auto;
        margin: auto;
    }



}

/* album details */

.frame {
    background-color: var(--night);
    border-radius: 4px;
    border: 1px solid var(--umbra);
    padding: 12px;
    width: 190px;
    /* display: flex;
    gap: 8px;
    align-items: center; */
}

.album {
    display: flex;
    flex-direction: column;
}

.cover {
    margin-bottom: 6px;
    
}

.cover img {
   width: 100%;
   border-radius: 2px;
   border: 1px dotted black;
}

.title {
    font-size: 18px;
    color: var(--moonlight)
}
.artist {
    font-size: 16px;
    color: #c2c2ce;
}

.year {
    font-size: 14px;
    color: #c2c2ce;

}
.rating {
   width: 50%;
}

.rating img {
    width: 100%;
}

/* --- */
/* Tracklist */

table.tracklist {
    width: 100%;
}

table.tracklist tr:nth-child(odd) {
    background-color: var(--umbra);
}

table.tracklist td {
    padding: 8px;
    width: fit-content;
    border: 0px;
}

td.track {
    text-align: center;
    max-width: 10%;
}

table.tracklist th {
    padding: 4px;
    text-align: left;
}