:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
}

body {
    background-image: none;
    background-color: var(--umbra);
    font-family: fairfax;
}

h1 {
    color: var(--moonlight);
    line-height: 0px;
}

p {
    line-height: 0px;
    color: var(--moonlight);
}

a {
    font-size: 12px;
    color: #cdd9ee93;
    font-family: fantasquesans;
    text-decoration: none;

}

a:hover {
    font-size: 12px;
    color: #cdd9eeec;
    font-family: fantasquesans;
    text-decoration: underline;

}

/* layout */

.wrapper {
    
}

.header {
    box-shadow: none;
    border: 0px;
}

.contentFlex {
    gap: 2px;
    
}

.contentFlex>div {
    border-radius: 0px;
    border: 0px;
}

/* playlist explorer */

table.playlistExplorer {
  color: var(--moonlight);
  text-align: left;
  padding: 0 4px;
  min-width: 140px;
}

table.playlistExplorer th {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid var(--gris);
    width: 100%;
}

/* album grid */
.playlistContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 800px;
    color: var(--moonlight);
    overflow-y: auto;
}

#playlistTitle{
    font-size: 24px;
    padding: 8px 2px;
}

.albumGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
}


@media (max-width: 420px) {
    .header {
        align-items: center;
    }

    .albumGrid {
        grid-template-columns: auto;
        margin: auto;
    }


}

/* album details */

.frame {
    background-color: var(--night);
    border-radius: 4px;
    border: 1px solid var(--umbra);
    padding: 12px;
    width: 200px;
    /* display: flex;
    gap: 8px;
    align-items: center; */
}

.album {
    display: flex;
    flex-direction: column;
}

.cover {
    margin-bottom: 6px;
    
}

.cover img {
   width: 100%;
   border-radius: 2px;
   border: 1px dotted black;
}

.title {
    font-size: 18px;
    color: var(--moonlight)
}
.artist {
    font-size: 16px;
    color: #c2c2ce;
}

.year {
    font-size: 14px;
    color: #c2c2ce;

}
.rating {
   width: 50%;
}

.rating img {
    width: 100%;
}
