.container {
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    background-image: url(../images/background/starGrid.png);
    box-shadow: 3px 3px black;
}

.picrewGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
    margin: 8px;

}

.picrewGrid>div {
    border-radius: 4px;
    border: 1px dotted var(--gris);
    box-shadow: 1px 1px black;
}

.frame {
    display: flex;
    flex-direction: column;
    background-color: var(--night);
    font-family: fantasquesans;
    font-size: 14px;
}

.frame img {
    padding: 8px;
    border: 0px;
}

.frame a {
    color: var(--moonlight);
    line-height: 14px;
}

.frame a:hover {
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    text-decoration: underline;
}

.frame>div {
    text-align: center;
    padding: 12px;
    margin: 8px;
    background-color: var(--umbra);
}

.shareBox {
    background-color: var(--night);
    color: var(--moonlight);
    margin: 12px;
    padding: 14px;
    border-radius: 4px;
    border: 1px dotted var(--gris);
}

.shareBox p {
    text-align: center;
}

.shareBox form {
    width: 50%;
    margin: auto;
}

input[type=url] {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 4px;
    border-top: 0px;
    border-bottom: 1px dotted var(--gris);
    color: var(--moonlight);
    font-family: fantasquesans;
    padding: 4px;
}

input[type=url]:focus {
    border: 1px dotted var(--starlight);
}