body {
    background-image: url(/images/background/tile-bg.png);
}

.container {

    max-width: 800px;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
    
    background-image: url(/images/background/starGrid.png);
    border-radius: 4px;
    box-shadow: 4px 4px #00000071;
    
}

.header {
    border: 1px dashed #d73606;
    
    box-shadow: none;

    font-family: jua;
    font-size: 36px;
}

.header img {
    margin: auto;
    border: 0px;
    padding-bottom: 12px;
}

.content {
    display: flex;
    gap: 8px;
    font-family: dosis;   
}

.sidebar {
    border: 1px dashed #d73606;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    min-width: 30%;
    gap: 4px;
    padding: 4px;
    background-color: var(--night);
}

.sidebar > div {
    background-color: #ffd392;
    padding: 2px;
    text-align: left;
    font-size: 14px;
    border-radius: 2px;
}

.sidebar > .menuHeader {
    color: var(--moonlight);
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
    text-align: center;
    margin: 4px 0;
}

.recipeSelect {
    background-color: #ffd392;
    padding: 2px;
    text-align: left;
    font-family: dosis;
    font-size: 14px;
    border-radius: 2px;
    border: 0px;
    color: black;
}

.recipeSelect:hover, .active {
    background-color: #d73606;
    color: var(--moonlight);
}

.rightContent {
    border: 1px dashed #d73606;
    border-radius: 4px;;
    max-width: 100%;
    background-color: var(--night);
}

.footer {
    border: 1px dashed #d73606;
    border-radius: 4px;
    padding: 12px;

    background-color: var(--night);
    
    font-family: fairfax;
    color: var(--moonlight)
}