body {
    background-image: url(/images/background/tile-bg.png);
}

a {
    color: var(--midnight)
}

a:hover {
    color: var(--soft-blue)
}

.container.none {
    max-width: 800px;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    border-radius: 4px;
    background-image: none;
}


.header {
    border: 1px dashed #d73606;
    color: var(--night);
    box-shadow: none;

    font-family: jua;
    font-size: 36px;
    background-image: url(/images/background/j06-bg-cloth.png);
}

.header img {
    margin: auto;
    border: 0px;
    padding-bottom: 12px;
}

.content {
    display: flex;
    gap: 8px;
    font-family: dosis; 
}

.content > .frame {
    width: 100%;
}

.sidebar {
    border: 1px dashed #d73606;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-height: 580px;
    gap: 4px;
    padding: 4px;
    background-image: url(/images/background/j06-bg-cloth.png);
    overflow-y: auto;
}

.sidebar > div {
    background-color: #ffd392;
    padding: 2px;
    text-align: left;
    font-size: 14px;
    border-radius: 2px;
}

.sidebar a {
    color: var(--night)
}

.sidebar h2, h3 {
    font-family: dosis;
    color: var(--night);
}

.sidebar > .menuHeader {
    color: var(--night);
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
    text-align: center;
    margin: 4px 0;
}

.recipeSelect {
    background-color: var(--soft-blue);
    padding: 2px;
    text-align: left;
    font-family: dosis;
    font-size: 14px;
    border-radius: 2px;
    border: 0px;
    color: black;
}

.recipeSelect:hover, .active {
    background-color: #d73606;
    color: var(--moonlight);
}

.rightContent {
    border: 1px dashed #d73606;
    border-radius: 4px;;
    max-width: 100%;
    background-image: url(/images/background/l01-bg-paper.png);
    
}

.footer {
    border: 1px dashed #d73606;
    border-radius: 4px;
    padding: 12px;

    background-image: url(/images/background/j06-bg-cloth.png);
    
    font-family: fairfax;
    color: var(--night)
}

/* individual recipe pages */

.recipe {
    background-image: url(/images/background/l01-bg-paper.png);

    font-family: dosis;
    font-size: 14px;

    min-width: 320px;
}

.recipeTitle, .sectionHeader {
    font-family: jua;
    font-size: 26px;
    text-align: center;

    border-top: 1px solid var(--midnight);
    border-bottom: 1px solid var(--midnight);
    background-color: #ffffff48;
}

.topCard {
    display: flex;
}

.recipeImg {
    border: 1px dashed var(--midnight);;
    display: block;
    width: 40%;
    background-color: #ffffff9f;
    max-height: fit-content;
}

.recipeImg img {
    width: 100%;;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details {
    align-items: center;
    padding: 8px;
}

.details > div {
    padding-left: 12px;
}

.sectionHeader {
    font-size: 20px;
}

.ingredientsNeeded {
    display: flex;
    
}

.ingredientsNeeded table {
    width: 100%;
    padding: 12px;
}

.ingredientsNeeded td{
    max-width: 10%;
    font-weight: 400;
    border-bottom: 1px dotted var(--soft-blue);
}

.instructionsBox {
    display: flex;
    gap: 6px;
    overflow: auto;
    max-width: 100%
}

.instructionsBox-noimg {
    flex-direction: row;
    padding: 8px;
    font-weight: 400;
}

.step {
    flex-shrink: 0;
    width: 10em;

    text-align: center;
    padding: 12px;
    font-weight: 600;
}

.stepNumber {
    font-family: jua;
    font-size: 16px;
}
.stepIcon {
    width: 50%;
    margin: 8px auto;
    border-radius: 8px;

    border: 1px dashed var(--soft-blue);
    box-shadow: 1px 1px var(--night);
}

.stepIcon > img {
    width: 100%;
}

.cardBody {
    max-width: 100%;
    padding: 12px 0;
}

.cardBody table {
    padding: 12px;
    width: 100%;
}

.cardBody table td {
    border-bottom: 1px solid var(--midnight);
}

.cardBody table th {
    text-align: left;
}

.properties {
    background-color: rgba(167, 174, 235, 0.616);
    padding: 4px;
    width: 40%;
    border-right: 1px solid var(--midnight);
}

.properties table th {
    text-align: left;
    padding: 0 14px 0 0;
    vertical-align: top;
}

.ingredients {
    padding: 8px;
}

.ingredients table {
    width: 100%;
}

.ingredients td {
    border-right: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);
}

.cardBody li {
    border-bottom: 1px dashed var(--gris);
}

.divider.recipe {
    border-bottom: 1px dashed var(--gris);
    
}

.notes {
    margin: 8px;
    padding: 0 4px;
    border: 1px dashed #d73606;
    background-color: rgba(240, 248, 255, 0.432);
}

.notes p {
    margin-bottom: 0;
}