body {
    background-image: none;
    background-color: var(--night);
    color: var(--moonlight);
    font-family: fairfax;
}

.header {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.header > h1 {
    text-align: center;
    font-family: fairfax;
}

.lowerContainer {
    background-image: none;
    box-shadow: none;
}

.rowContainer {

}

.rowContainer > div {

}

.contentBox {
    background-color: transparent;
}

.contentFlex {
    background-color: transparent;
}

.contentFlex > div {
    background-color: transparent;
    border: 1px dotted var(--moonlight);
}

.window {
   
}

.contentFlex > .details {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    padding: 16px;
}

.details h3 {
    font-family: fairfax;
    font-size: 15px;
    line-height: 14px;
    border-bottom: 1px solid var(--gris);
}

.details h4 {
    text-align: center;
    line-height: 12px;
    margin-bottom: 0px;
    padding-bottom: 4px;
    border-bottom: 1px dotted var(--gris);
}

.arrival {
    border: 1px solid var(--starlight);
    padding: 4px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 4px;
}

.departure {
    border: 1px solid var(--baby-blue);
    padding: 4px;
    border-radius: 12px;
    text-align: center; 
}

/* planner */

.planner {
    display: flex;
    /* border: 1px solid blue; */
    gap: 8px;
    justify-content: space-around;
    overflow: auto;
    
}

.planner > div {
    width: 100%;
}

/* date button */

.date {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 2px;
    font-family: fairfax;
}

.date:hover {
    border: 1px solid var(--starlight);
}

.date > div {
    padding: 8px;
    border: 1px dotted var(--moonlight);
    font-weight: 600;
    color: var(--moonlight);
}

.date > .day {
    background-color: var(--baby-blue);
    font-weight: 300;
    color: var(--night);
}
/* content */

.content {
    border: 1px inset var(--shade);
    min-height: 500px;
    background-image: url(/adventure-log/images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* content grid */
.entry {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: 20px auto;
    gap: 8px;
}

.entry > div{
}

.entry img {
    width: 100%;
    border-radius: 4px;
}

.entry .text {
    background-color: var(--moonlight);
    color: var(--night);
    padding: 8px;
    margin: auto;
    width: 90%;
    height: fit-content;
    border-radius: 4px;
}

.entry .caption {
    background-color: rgba(255, 255, 255, 0.884);
    color: var(--night);
    border: 1px dotted var(--shade);
    padding: 0 4px;
    text-align: center;
}

/* responsive bits */

@media (max-width: 500px) {
    .contentFlex {
        flex-direction: column;
    }    

    .planner {
        flex-wrap: wrap;
    }

    contentFlex > .details {
        flex-wrap: wrap;
    }
}

