body .summer {
    /* --sage: #889f9b; */
}

body {
    background-image: none;
    background-color: var(--void);
    scrollbar-color: var(--grass);
}

p, h1, h2, h3, h4 {
    margin: 4px;
}

p {
    font-size: 14px;
}

a {
    color: var(--old-pc);
    font-size: 14px;;
}


/* lace border 
border-width: 10px;
border-style: solid;
border-image: url("https://file.garden/ZZ2PUl9MPilKgIvB/collection/borders/fp9ci4.png") 8 fill round; */

.wrapper {
    max-width: 800px;
    border-width: 10px;
    border-style: solid;
    margin: auto;

    background-color: var(--scrub);
    border-radius: 4px;
    border: 4px ridge var(--grass);
    color: var(--terminal);
    padding: 8px;
}

.months {
    display: flex;
    justify-content: right;
    font-family: fairfax;
}

.flex {
    display: flex;
    gap: 4px;
    min-width: 320px;
    max-height: 420px;
    margin: 2px;

    font-family: fairfax;
    text-align: justify;
}

.flex img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 1px #324d3557;
}

.content {
    width: 100%;
    padding: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border: 1px dashed black;
}

.flex div {
    border-bottom: 1px dotted var(--grass);
}

.footer {
    padding: 2px 4px;
}

.faded {
    opacity: .4;
    line-height: 8px;
}

.footer a {
    font-family: fairfax;
    color: var(--old-pc);
    font-size: 14px;
}

#footerImg img {
    position: fixed;
    bottom: 0;
    min-width: 100%;
}

#headerImg img {
    margin: -24px auto;
    rotate: 180deg;
    min-width: 100%;
}

ul {
list-style-image: none;
list-style: none;
}

ol li {
    font-size: 13px;
}