:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
    --night: #16191d;
}

/* || Typography */

@font-face {
    font-family: Daydream;
    src: url(fonts/Daydream.ttf)
}

@font-face {
    font-family: Gothic Pixels;
    src: url(fonts/GothicPixels.ttf);
}

@font-face {
    font-family: Rainy Hearts;
    src: url(fonts/rainyhearts.ttf);
}

@font-face {
    font-family: Retro Gaming;
    src: url(fonts/Retro\ Gaming.ttf);
}

@font-face {
    font-family: FantasqueSans;
    src: url(fonts/FantasqueSansMono-Regular.otf);
}

@font-face {
    font-family: CartoSans;
    src: url(fonts/Cartograph\ CF\ Regular.ttf);
}

/*  */

html {
    scrollbar-color: var(--midnight) var(--umbra);
    scrollbar-width: thin;
}

body {
    background-image: url(/images/background/diamond-bg.png);
    color: var(--umbra)
}

h1, h2, h3 {
    font-family: rainy hearts;
    text-align: center;
}

h1 {
    font-size: 42px;
    line-height: 4px;
}

h2 {
    font-size: 24px;
    line-height: 4px;;
}

a {
    color: var(--umbra);
    text-decoration: none;
}

a:hover {
    color: var(--moonlight);
    font-weight: bold;
}

/* _ */

.mainContainer {
    display: flex; 
    flex-direction: column;
   
    margin: auto;
    padding: 8px;
   
    align-items: center;

    width: fit-content;
    height: fit-content;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-radius: 4px;
    border: 2px var(--twilight) ridge;

    box-shadow: 4px 4px #000511a4;

    font-family: fantasquesans;
    font-size: 14px;

    background-image: url(images/background/j06-bg-cloth.png);
}

.mainContainer > .navbar {

    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 8px; 
    padding: 6px 82px;
    border-radius: 4px;
    border: 1px var(--twilight) dotted;
    background-color: var(--moonlight);
    
}

.navbar > div {
    margin-left: 8px;
    border-left: 1px solid var(--gris);
    border-right: 1px solid var(--gris);
    padding: 2px 12px;
}

.navbar > div:hover {
    background-color: var(--soft-blue);
}

.mainContainer > .outerflex {
    
    padding: 8px;
    
    width: fit-content;
    height: fit-content;
    
    display: flex;
    align-items: center;

    column-gap: 12px;
    
}

/* Left  */

.outerflex > .leftMenu {
    margin: auto;
    padding: 8px; 

    height: 400px;
    width: 244px;
    
    display: flex;
    flex-direction: column;
    row-gap: 16px; 
    
    font-family: fantasquesans;
    background-color: var(--moonlight);
    border-radius: 4px;
    border: 1px var(--twilight) dotted;
    box-shadow: 1px 1px var(--midnight);
}

/* logbook */

.leftMenu > .logbook {
    padding: 8px;

    height: 180px;

    border-radius: 4px;
    border: 1px solid #7f879670;

    background-color: var(--umbra);
    color: var(--moonlight);

    /* overflow-y: scroll; */
}

table.logbook {
    margin: auto;
    width: 200px;
    border-collapse: collapse;
    border: 0px;
    background-color: #16191d;
    border-radius: 4px;
}

table.logbook th {
    font-size: 13px;
    text-align: left;
    width: 20%;
    padding: 8px;
    color: var(--starlight);
    border-bottom: 1px solid #7f879670;
}

table.logbook td {
    font-size: 13px;
    border-bottom: 1px solid #7f879670;
    text-align: center;
   }

table.logbook tr:hover {
    background-color: var(--twilight);
  }

table.logbook th a {
    display: block;
    color: var(--starlight);
    text-decoration: none;
}

table.logbook td a {
    display: block;
    color: var(--moonlight);
    text-decoration: none;
}

  /* currents */
  
.leftMenu > .currents {
    padding: 8px;

    border-radius: 2px;
    border: 2px inset var(--midnight);

    color: var(--umbra);

    background-image: url(images/background/texture-of-day.jpg);
}

table.currents {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    border-radius: 4px;

    background-color: var(--moonlight);
}

table.currents th {
    font-size: 13px;
    text-align: left;
    width: 20%;
    padding: 8px;
    color: var(--umbra)
}

table.currents td {
    width: 80%;
    font-size: 13px;
    padding: 4px;

    color: var(--umbra)
   }
 
table.currents tr:hover {
     background-color: var(--soft-blue);
   }
 

table.currents th a, td a {
    display: block;
    color: var(--umbra);
    text-decoration: none;
}

table.currents  th a:hover, td a:hover{
    display: block;
    color: #000000;
}

/* Center */

.outerflex > .center {
    margin: auto;
    padding: 8px; 
    
    width: 400px;
    height: fit-content;

    align-items: center;
    border-radius: 2px;
    
    background-color: var(--moonlight);
    border-radius: 4px;
    border: 1px var(--twilight) dotted;
    box-shadow: 1px 1px var(--midnight);
} 


.center > div {
    margin: 8px;
    padding: 16px;

    border: 2px var(--midnight) solid;
    border-radius: 4px;
    background-image: url(images/background/l01-bg-paper.png);
}

.center > img {
    border-radius: 4px;
    width: 100%;
    margin: auto;
}

.center > .navbar {
    display: flex;
    flex-direction: row;
    border-top: 0px;
    margin: auto;
}


/* right  */

.outerflex > .rightMenu {
    margin: auto;
    padding: 8px;

    height: 400px;
    width: 244px;
    
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    
    background-color: var(--moonlight);
    border-radius: 4px;
    border: 1px var(--twilight) dotted;
    box-shadow: 1px 1px var(--midnight);
}

.rightMenu > .almanac {
    padding: 8px;
    border-radius: 2px;

    background-image: url(/images/winterAlmanac/clipboard.png);
    background-size: 62%;
    background-repeat: no-repeat;
    background-position: center;
}

.rightMenu p {
    color: black;
    text-align: center;
}

.sprite {
    display: block;
    width: 40%;
    margin: auto auto auto auto;
}

.rightMenu > .blinkies {
    margin-top: 24px;
    padding: 12px 8px;

    border-radius: 2px;
    border-top: 1px dotted var(--gris);

    background-color: transparent;

}

.blinkies > img {
    display: block;
    width: 100%
}

