:root {
    --soft-blue: #8aa5e0;
    --steel-blue: #4b639b;
    --midnight: #3a527f;
    --starlight: #fac372;
    --twilight: #5f3c7f;
    --sunset: #f09c83;
    --moonlight: #cdd9ee;
    --gris: #7f8796;
    --umbra: #1b2124;
    --shade: #162f40;
}

/* || Typography */

@font-face {
    font-family: Daydream;
    src: url(fonts/Daydream.ttf)
}

@font-face {
    font-family: Gothic Pixels;
    src: url(fonts/GothicPixels.ttf);
}

@font-face {
    font-family: Rainy Hearts;
    src: url(fonts/rainyhearts.ttf);
}

@font-face {
    font-family: Retro Gaming;
    src: url(fonts/Retro\ Gaming.ttf);
}

@font-face {
    font-family: FantasqueSans;
    src: url(fonts/FantasqueSansMono-Regular.otf);
}

/*  */

body {
    background-image: url(/images/diamond-bg.png);
    font-family: rainy hearts;
    font-size: 16px;
}

body > h1, h2, h3 {
    text-align: center;
}

/* _ */

.outerflex {
    margin: auto;
    padding: 8px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: fit-content;
    height: fit-content;
    
    display: flex;
    align-items: center;
    
    border-radius: 4px;
    border: 6px var(--twilight) ridge;

    background-color: #eaf2ff;
    box-shadow: 8px 8px #000511a4;
}

.outerflex > .center {
    margin: auto;
    padding: 8px; 
    
    width: 400px;
    height: fit-content;

    align-items: center;
    border-radius: 2px;
    border: 1px var(--gris) dotted;
} 


.center > div {
    margin: 12px auto;
    padding: 12px;

    border-top: 1px var(--gris) dotted;
    border-radius: 4px;
}

.center > img {
    border-radius: 4px;
    width: 100%;
    margin: auto;
}

.outerflex > .leftMenu {
    margin: auto;
    padding: 8px; 

    height: 400px;
    width: 224px;
    
    display: flex;
    flex-direction: column;
    row-gap: 16px;   
}

.leftMenu > .logBook {
    padding: 8px;
    border-radius: 2px;

    background-color: var(--umbra);
    color: white;
}

.leftMenu > .currents {
    padding: 8px;

    border-radius: 2px;
    border: var(--midnight) solid 4px;

    background-color: var(--moonlight);
}


.outerflex > .rightMenu {
    margin: auto;
    padding: 8px;

    height: 400px;
    width: 224px;
    
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.rightMenu > .almanac {
    padding: 8px;
    border-radius: 2px;

    background-image: url(/images/winterAlmanac/clipboard.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.rightMenu p {
    color: black;
    text-align: center;
}

.sprite {
    display: block;
    width: 40%;
    margin: auto auto auto auto;
}


.rightMenu > .blinkies {
    margin-top: 24px;
    padding: 12px 8px;

    border-radius: 2px;
    border-top: 1px dotted black;

    background-color: transparent;
}

 table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    
  }
  
  th {
    font-size: 12px;
    text-align: left;
    width: 20%;
    padding: 8px;    
  }
  
  td {
   width: 80%;
   font-size: 12px;
   padding: 4px;
  }

  tr:hover {
    background-color: #5f3c7f;
  }