body {
    background-color: #1b2124;
}

.websiteContainer {
    max-width: 800px;
    max-height: 1000px;
    margin: auto;
    padding: 24px
}

.centerContainer {
    background-color: #0d1011;
    margin: auto;
    padding: 10px;
    width: 600px;
    height: fit-content;

    border-radius: 4px;
}

.centerBox {
    color: #cdd9ee;
    border: 1px white dotted;
    padding: 12px;

    border-radius: 2px;

}

.centerFlex {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    margin-bottom: 14px;
}

.centerFlex > div {
    margin: auto;
    padding: 2px;
    border-top: 1px white dotted;
}

.centerGrid > div {
    border: 1px white solid;
}

.centerBox > h1 {
    font-family: gothic pixels;
    letter-spacing: 1px;
}

.centerBox > i, p, h2, li {
    font-family: FantasqueSans;
}

.imageBackground {
    position: relative;
}

.menuFlex {
    display: grid;
    grid-template-columns: auto auto;
    /* flex-direction: column; */
    margin: auto; 
    position: absolute;
    top: 415px;
    left: 190px;
    width: 150px;
}

.menuFlex > div {
    /* padding: 36px 8px 8px 8px; */
    color: black;
    font-family: fantasquesans;
    font-size: 12px;
    max-width: 100%;
    /* border: 1px solid black */
}

.sprite {
/* width: 100%; */
margin: auto;
}