body {
    /* background: linear-gradient(0deg, rgb(2, 2, 54) 0%, rgba(2,0,36) 90%, rgb(0, 0, 39) 100%); */
    background-image: url(images/journalBackground.png);
    background-repeat: repeat-y;

}

/* a:link {
    color: rgb(0, 0, 39);
}

a:hover {
    text-decoration: underline;
} */

.navBar {
    margin: 8% auto 8px auto;
    padding: 4px;
    max-width: fit-content;
    font-family: rainy hearts;
    border-radius: 4px;
}

.container {
    position: absolute;
    top: 0;
    left: 260px;
    margin: auto;
    padding: 10px;
    max-width: 600px;
    max-height: 900px;
    background: linear-gradient(0deg, rgb(2, 2, 54,.9) 0%, 
    rgba(2,0,36,.8) 90%, rgb(0, 0, 39, .9) 100%);
    border-radius: 4px;
}

.journalHeader {
    color:  white;
    font-family: fantasquesans;
    font-size: 18px;
    text-align: left;
    padding: 12px 12px 0px 12px;
    letter-spacing: 8px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.content {
    flex: 1; 
    border-bottom: 2px dotted white;
}

.day {
    background-color: hsl(214, 84%, 95%);
    padding: 12px;
    border-radius: 4px;
    max-width: 600px;
    max-height: fit-content;
    font-family: FantasqueSans;
    color: rgb(0, 0, 39);
    font-size: 14px;
    line-height: 14px;
}