body {
    background-image: url(images/background.png);
}

a {
    color: #5FDDF8
}

.quote {
    font-family: liga;
    font-size: 36px;
    text-align: center;
    padding: 24px;
}

.header {
    font-family: liga;
    font-size: 24px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #eaa2b9;
    text-align: center;
}

.navigation {
    gap: 12px;
    align-items: center;
}
.navigation>div {
    font-family: inclusive;
    
}

.contentFlex {
    border: 4px ridge black;
    box-shadow: 2px 2px black;
    border-radius: 4px;
}

.contentFlex>div {
    border: none;
}

.contentFlex img {
    max-width: 30%;
    margin: auto;
}

.contentContainer {

}

.bodyContainer {
    /* max-height: 380px; */
    overflow-y: auto;
    border: 1px inset black;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 4px;
}


.bodyText {
    font-family: inclusive;
    font-weight: normal;   
    font-size: 14px;
    text-align: justify;
    padding: 24px;
   

}

.bodyText strong {
    color: #eaa2b9;
    font-family: liga;
    font-size: 15px;
}

.castGallery {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, auto);
    max-width: 800px;
}

.castFrame {
    border: 1px solid red;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.castFrame>div {
    border: 1px solid blue;
}
.castFrame img {
    width: 100%;
}