body {
    background-image: url(images/background.png);
}

a {
    color: #5FDDF8
}

.quote {
    font-family: liga;
    font-size: 36px;
    text-align: center;
    padding: 24px;
}

.header {
    font-family: liga;
    font-size: 24px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #eaa2b9;
    text-align: center;
}

.navigation {
    gap: 12px;
    align-items: center;
}
.navigation>div {
    font-family: inclusive;
    
}

.contentFlex {
    border: 4px ridge black;
    box-shadow: 2px 2px black;
    border-radius: 4px;
}

.contentFlex>div {
    border: none;
}

.contentFlex img {
    margin: auto;
}

.contentContainer {

}

.bodyContainer {
    /* max-height: 380px; */
    overflow-y: auto;
    border: 1px inset black;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 4px;
}


.bodyText {
    font-family: inclusive;
    font-weight: normal;   
    font-size: 15px;
    text-align: justify;
    padding: 24px;
   

}

.bodyText strong {
    color: #eaa2b9;
    font-family: liga;
    font-size: 15px;
}

.row {
    display: flex;
}
.castGallery {
    /* display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
    align-items: baseline;
    justify-items: stretch; */

    display: flex;
    flex-direction: column;
}

.castGallery>div {
    border-bottom: 1px dashed var(--baby-blue);
    max-width: 100%;
}

.castFrame {
    width: 100%;
    font-size: 18px;
}



.castFrame img {
    width: 100%;
    border-radius: 4px;
    border: 1px dotted #5FDDF8;
    display: block;
    margin-bottom: 12px;
}

.castFrame strong {
    color: #eaa2b9;
    font-size: 20px; 
}