

.scrapbookFlex {
    display: flex;
    flex-direction: column;

    padding: 8px;

    width: 100%;
    border: 1px solid blue;
}

.scrapbookFlex > div {
    padding: 4px;
    margin: auto;
    border: 1px solid red;
    
}

.sb-img {
    width: 100%;
    margin: auto;
    border-radius: 6px;;
}

.big-img {
    width: 100%
}

.caption {
    font-family: fairfax;
    font-size: 12px;
    padding: 4px 12px;
    background-color: rgb(240, 248, 255);
    border-bottom: 1px dotted var(--midnight);
    border-left: 1px dotted var(--midnight);
    border-radius: 6px;
    /* display: none; */
}

.caption:hover {
    rotate: -2deg;
}

.scrapbookGrid .item {
    grid-column-start: 1;
    grid-column-end: 4;
}

.scrapbookGrid .item1 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.scrapbookGrid .item2 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.scrapbookGrid .item3{
    grid-column-start: 6;
    grid-column-end: 9;
}
.scrapbookGrid .caption{
    grid-column-start: 4;
    grid-column-end: 5;
}

.scrapbookGrid .entry{
    grid-column-start: 4;
    grid-column-end: 9;
    
    margin: auto;

    padding: 12px;
    background-color: aliceblue;
    border-bottom: 2px dotted var(--midnight);
    border-left: 2px dotted var(--midnight);
    border-radius: 36px;

    font-family: fairfax;
}

.entry p {
    border-left: 1px solid var(--soft-blue);
    padding-left: 8px;
}