.scrapbook {
    height: 900px;
    width: 800px;
    margin: auto;
    /* display: grid;
    grid-template-columns: auto auto; */
}


.scrapbookFlex {
    display: flex;
    flex-direction: column;

    padding: 8px;

    width: 100%;
    border: 1px solid blue;
}

.scrapbookFlex > div {
    padding: 4px;
    margin: auto;
    border: 1px solid red;
    
}

.sb-img {
    margin: auto;
}

.sb-img:hover {
    rotate: 6deg;
}



.sb-img rect {
    border-radius: 4px;
}


.content {
    font-family: fairfax;
    text-align: center;
    font-size: 18px;
    padding: 4px;
    background-color: aliceblue;
    border-bottom: 2px dotted var(--midnight);
    border-left: 2px dotted var(--midnight);
    border-radius: 36px;
    /* display: none; */
}

.content:hover {
    rotate: -2deg;
}